services:
  db:
    container_name: database
    image: postgres:16.1
    environment:
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_DB=postgres
    ports:
      - 5432:5432
    volumes:
      - ./db/data:/var/lib/postgresql/data